[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"

[dev-packages]
dotenv = "*"

[requires]
python_version = "3.12"

[scripts]
start = "uvicorn app:app --host 0.0.0.0 --port 10000"
